@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-primary-container text-on-background font-body-md antialiased;
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
  }

  *::selection {
    background-color: #ffe33d;
    color: #211b00;
  }
}

@layer components {
  .material-symbols-outlined {
    font-family: "Material Symbols Outlined", sans-serif;
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
    line-height: 1;
    display: inline-block;
  }

  .bicolor-title-bottom {
    border-bottom: 4px solid #ffe33d;
    display: inline-block;
  }

  .bg-pitch-texture {
    background-image: radial-gradient(
      circle at center,
      rgba(255, 255, 255, 0.03) 1px,
      transparent 1px
    );
    background-size: 24px 24px;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
